/* block view */
#top-block-view {display: none;}
#top-block-view-mask{ position: fixed; z-index: 18000; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: .75; }
#top-block-view-content { position: fixed; z-index: 18001; top: 50%; width: 100%; height: 80px; text-align: center; }

/* for jsonview oid memo string */
.oidmemo {margin-left: 1em; margin-right: 1em; color: white; padding: 2px 8px; background-color: #ffffff26; border-radius: 0.25em; }